In [19]:
import matplotlib.pyplot as plt 
import pandas as pd 
import numpy as np
import seaborn as sns

In [20]:
alternative_fueling_stations_read = "Resources/alternative_fueling_stations.xlsx"
alternative_fueling_stations = pd.read_excel(alternative_fueling_stations_read)
alternative_fueling_stations_df = pd.DataFrame(alternative_fueling_stations)
alternative_fueling_stations_df.head()
alternative_fueling_stations_df.count()

OBJECTID                 82470
access_code              82469
access_days_time         73904
access_detail_code        7945
date_last_confirmed      82299
fuel_type_code           82470
maximum_vehicle_class    20083
open_date                82178
facility_type            29474
station_name             82469
city                     82422
country                  82470
state                    82470
street_address           82389
zip                      82426
longitude                82470
latitude                 82470
dtype: int64

In [21]:
alternative_fueling_stations_df2 = alternative_fueling_stations_df.dropna()
alternative_fueling_stations_df2.head(5)

,OBJECTID,access_code,access_days_time,access_detail_code,date_last_confirmed,fuel_type_code,maximum_vehicle_class,open_date,facility_type,station_name,city,country,state,street_address,zip,longitude,latitude
3,4,public,24 hours daily,CREDIT_CARD_ALWAYS,2023-08-10,CNG,MD,1997-01-01,UTILITY,Arkansas Oklahoma Gas Corp,Fort Smith,US,AR,2100 S Waldron Rd,72903,-94.375338,35.362213
4,5,public,24 hours daily; call 866-809-4869 for Clean En...,CREDIT_CARD_ALWAYS,2023-09-14,CNG,MD,1996-11-15,AIRPORT,Clean Energy - Logan International Airport,East Boston,US,MA,1000 Cottage St Ext,02128,-71.026549,42.374706
5,6,public,24 hours daily; call 866-809-4869 for Clean En...,CREDIT_CARD_ALWAYS,2023-12-13,CNG,HD,1996-11-15,STANDALONE_STATION,Clean Energy - Everett - National Grid,Everett,US,MA,16 Rover St,02149,-71.064352,42.393167
6,7,public,24 hours daily; call 866-809-4869 for Clean En...,CREDIT_CARD_ALWAYS,2023-09-14,CNG,HD,2016-07-15,UTILITY,Clean Energy - Greenpoint - National Grid,Brooklyn,US,NY,287 Maspeth Ave,11211,-73.932309,40.718037
7,8,public,24 hours daily; call 866-809-4869 for Clean En...,CREDIT_CARD_ALWAYS,2024-01-09,CNG,MD,1988-01-15,UTILITY,Canarsie - National Grid,Brooklyn,US,NY,8424 Ditmas Ave,11236,-73.918344,40.645540

In [22]:
alternative_fueling_stations_df3 = alternative_fueling_stations_df.drop('access_days_time', axis='columns')
alternative_fueling_stations_df3.head(5)

,OBJECTID,access_code,access_detail_code,date_last_confirmed,fuel_type_code,maximum_vehicle_class,open_date,facility_type,station_name,city,country,state,street_address,zip,longitude,latitude
0,1,private,NaN,2023-04-06,CNG,MD,2010-12-01,STANDALONE_STATION,Spire - Montgomery Operations Center,Montgomery,US,AL,2951 Chestnut St,36107,-86.267021,32.367916
1,2,private,GOVERNMENT,2024-02-12,CNG,LD,1996-12-15,FLEET_GARAGE,Metropolitan Atlanta Rapid Transit Authority,Atlanta,US,GA,2424 Piedmont Rd NE,30324,-84.367461,33.821911
2,3,private,NaN,2023-12-13,CNG,HD,1997-01-01,STANDALONE_STATION,United Parcel Service,Atlanta,US,GA,270 Marvin Miller Dr,30336,-84.543822,33.760256
3,4,public,CREDIT_CARD_ALWAYS,2023-08-10,CNG,MD,1997-01-01,UTILITY,Arkansas Oklahoma Gas Corp,Fort Smith,US,AR,2100 S Waldron Rd,72903,-94.375338,35.362213
4,5,public,CREDIT_CARD_ALWAYS,2023-09-14,CNG,MD,1996-11-15,AIRPORT,Clean Energy - Logan International Airport,East Boston,US,MA,1000 Cottage St Ext,02128,-71.026549,42.374706

In [23]:
alternative_fueling_stations_df3.notnull()

,OBJECTID,access_code,access_detail_code,date_last_confirmed,fuel_type_code,maximum_vehicle_class,open_date,facility_type,station_name,city,country,state,street_address,zip,longitude,latitude
0,True,True,False,True,True,True,True,True,True,True,True,True,True,True,True,True
1,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
2,True,True,False,True,True,True,True,True,True,True,True,True,True,True,True,True
3,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
4,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82465,True,True,False,True,True,False,True,False,True,True,True,True,True,True,True,True
82466,True,True,False,True,True,False,True,False,True,True,True,True,True,True,True,True
82467,True,True,False,True,True,False,True,False,True,True,True,True,True,True,True,True
82468,True,True,False,True,True,False,True,False,True,True,True,True,True,True,True,True
82469,True,True,False,True,True,False,True,False,True,True,True,True,True,True,True,True

In [24]:
alternative_fueling_stations_df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 82470 entries, 0 to 82469
Data columns (total 16 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   OBJECTID               82470 non-null  int64
 1   access_code            82469 non-null  object
 2   access_detail_code     7945 non-null   object
 3   date_last_confirmed    82299 non-null  datetime64[ns]
 4   fuel_type_code         82470 non-null  object
 5   maximum_vehicle_class  20083 non-null  object
 6   open_date              82178 non-null  datetime64[ns]
 7   facility_type          29474 non-null  object
 8   station_name           82469 non-null  object
 9   city                   82422 non-null  object
 10  country                82470 non-null  object
 11  state                  82470 non-null  object
 12  street_address         82389 non-null  object
 13  zip                    82426 non-null  object
 14  longitude              82470 non-null  float64
 15  latitude               82470 non-null  float64
dtypes: datetime64[ns](2), float64(2), int64(1), object(11)
memory usage: 10.1+ MB

In [25]:
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import desc

In [32]:
engine = create_engine("sqlite:///Resources/fueling_stations.sqlite")

In [33]:
Base = automap_base()
# reflect the tables
Base.prepare(autoload_with=engine)

In [34]:
Base.classes.keys()

[]

In [35]:
alternative_fueling_stations_df3.to_sql('alternative_fueling_stations', engine, if_exists='replace', index=False)

82470

In [37]:
Base.classes.keys()

[]

In [39]:
pd.read_sql_table('alternative_fueling_stations', con=engine)

,OBJECTID,access_code,access_detail_code,date_last_confirmed,fuel_type_code,maximum_vehicle_class,open_date,facility_type,station_name,city,country,state,street_address,zip,longitude,latitude
0,1,private,None,2023-04-06,CNG,MD,2010-12-01,STANDALONE_STATION,Spire - Montgomery Operations Center,Montgomery,US,AL,2951 Chestnut St,36107,-86.267021,32.367916
1,2,private,GOVERNMENT,2024-02-12,CNG,LD,1996-12-15,FLEET_GARAGE,Metropolitan Atlanta Rapid Transit Authority,Atlanta,US,GA,2424 Piedmont Rd NE,30324,-84.367461,33.821911
2,3,private,None,2023-12-13,CNG,HD,1997-01-01,STANDALONE_STATION,United Parcel Service,Atlanta,US,GA,270 Marvin Miller Dr,30336,-84.543822,33.760256
3,4,public,CREDIT_CARD_ALWAYS,2023-08-10,CNG,MD,1997-01-01,UTILITY,Arkansas Oklahoma Gas Corp,Fort Smith,US,AR,2100 S Waldron Rd,72903,-94.375338,35.362213
4,5,public,CREDIT_CARD_ALWAYS,2023-09-14,CNG,MD,1996-11-15,AIRPORT,Clean Energy - Logan International Airport,East Boston,US,MA,1000 Cottage St Ext,02128,-71.026549,42.374706
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82465,82466,public,None,2024-04-03,ELEC,None,2024-04-03,None,Dreamtroit Apartments - Forth - Public,Detroit,US,MI,1331 Holden St,48202,-83.081920,42.362630
82466,82467,public,None,2024-04-03,ELEC,None,2024-04-03,None,Baymont By Wyndham Mukwonago,Mukwonago,US,WI,945 Greenwald Ct.,53149,-88.324417,42.851263
82467,82468,public,None,2024-04-03,ELEC,None,2024-04-03,None,Carrabelle Fire Department,Carrabelle,US,FL,105 Tallahassee St,32322,-84.665035,29.852414
82468,82469,public,None,2024-04-03,ELEC,None,2024-04-03,None,Coventry Grammar School,Coventry,US,CT,1700 Main St,06238,-72.367566,41.795154
82469,82470,public,None,2024-04-03,ELEC,None,2024-04-03,None,Pomfret Public Library,Pomfret Center,US,CT,449 Pomfret St,06258,-71.961930,41.888860